.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.focusWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(111, 110, 110);
  color: white;
}

.btnWrapper {
  display: flex;
  flex-direction: row;
}

.typeBtn {
  background-color: rgb(254, 254, 254);
  border: none;
}

.typeBtn:hover {
  background-color: gray;
  color: white;
}
